//-------------------------------------------------------------------------------
  @name: sejati number
  -------------------------------------------------------------------------------//

//sejati-number
.sejati-num
  .container
    .sejati-num__inner
      .sejati-num__head
        h2.sejati-num__title= data.title
        p.sejati-num__desc= data.desc
      .sejati-num__body
        each item in data.list
          .sejati-num__item
            h3.sejati-num__number= item.number
            .sejati-num__info
              p.sejati-num__type= item.type
              p.sejati-num__detail= item.detail

='\n'
