//-------------------------------------------------------------------------------
  @name: About Corporate Values
  -------------------------------------------------------------------------------//

//aboutCorporateValues
.about-cv
  .container
    .about-cv__inner
      .about-cv__content
        .about-cv__head
          .about-cv__icon
            ='\n'
            img.about-cv__icon-el(src='assets/img/icon/'+data.icon alt=data.title)/
          h3.about-cv__title
            | !{data.title}
        .about-cv__bottom
          p.about-cv__desc
            | !{data.desc}
          .about-cv__values
            each value in data.values
              .about-cv__value
                h6.about-cv__value-title
                  | !{value.title}
      .about-cv__image
        ='\n'
        img.about-cv__image-el(src='assets/img/dummy/'+data.image alt=data.title)/
  ='\n'
