//-------------------------------------------------------------------------------
  @name: News Banner
  -------------------------------------------------------------------------------//

//news-banner
.news-banner
  .container
    .news-banner__inner
      .news-banner__large
        .news-banner__img
          ='\n'
          img.news-banner__img-el(src=data.img.src alt=data.img.alt)/
          ='\n'
          a.news-banner__img-link(href=data.link.to)
        .news-banner__text
          h5.news-banner__title !{data.title}
          .news-banner__tag
            .news-banner__label
              p.news-banner__label-text !{data.label}
              p.news-banner__label-date !{data.date}
            .news-banner__link
              ='\n'
              a.news-banner__link-el(href=data.link.to)
                ='\n'
                span.news-banner__link-text
                  | !{data.link.text}
                ='\n'
                i.sr.sr-caret-right
      .news-banner__small
        each item in data.list
          .news-banner__small-item
            ='\n'
            a.news-banner__small-link(href=item.link.to)
            ='\n'
            .news-banner__small-img
              ='\n'
              img.news-banner__small-img-el(src=item.img.src alt=item.img.alt)/
            .news-banner__small-text
              .news-banner__small-tag
                p.news-banner__small-tag-text !{item.label}
                p.news-banner__small-tag-date !{item.date}
              h6.news-banner__small-title !{item.title}


