//-------------------------------------------------------------------------------
  @name: Businesses Value
  -------------------------------------------------------------------------------//

//businesses-value
.businesses-value(class=`businesses-value--${page}`)
  if page === 'agri' || page === 'amindo-wana-persada' || page === 'investidea-ventures'
    .container
      .businesses-value__inner
        .businesses-value__content
          h2.businesses-value__title= data.title
          if data.desc
            .businesses-value__desc!= data.desc
          .businesses-value__img
            ='\n'
            img.businesses-value__img__el(src=data.img alt=data.title)/
        .businesses-value__list
          each item in data.list
            .businesses-value__item
              .businesses-value__icon
                ='\n'
                img.businesses-value__icon__el(src=item.img alt=item.title)/
              .businesses-value__text
                h3.businesses-value__label= item.title
                p.businesses-value__desc= item.desc
  else
    .businesses-value__img
      ='\n'
      img.businesses-value__img__el(src=data.img alt=data.title)/
    .container
      .businesses-value__inner
        .businesses-value__wrapper
          .businesses-value__head
            h2.businesses-value__title= data.title
            if data.subtitle
              .businesses-value__subtitle!= data.subtitle
          .businesses-value__body
            each item in data.list
              .businesses-value__item
                .businesses-value__icon
                  ='\n'
                  img.businesses-value__icon__el(src=item.img alt=item.title)/
                .businesses-value__text
                  h3.businesses-value__label= item.title
                  p.businesses-value__desc= item.desc

='\n'
