//-------------------------------------------------------------------------------
  @name: Mining Why
  -------------------------------------------------------------------------------//

//mining-why
.mining-why
  .container
    .mining-why__head
      h2.mining-why__title= data.title
      .mining-why__subtitle!= data.subtitle
    .mining-why__body
      .mining-why__img
        ='\n'
        img.mining-why__img__el(src=data.img alt=data.title)/
      .mining-why__vision
        h3.mining-why__label= data.vision.title
        .mining-why__desc!= data.vision.desc

='\n'
