//-------------------------------------------------------------------------------
  @name: News Details
  -------------------------------------------------------------------------------//

// News Details
.news-details
  - newsDetails = data || {};
  .container
    .news-details__head
      -
        breadcrumbs = [
          { name: "News", link: "news.html" },
          { name: "PT Sele Raya Belida Successfully Produces 1,500 Barrels of Oil Per Day (BOPD) from SAS-2 Well", link: "news-details.html" },
        ];
      include ../../_Elements/Breadcrumbs/html.pug
      h1.news-details__title !{newsDetails.title}
    .news-details__banner
      ='\n'
      img.news-details__banner-img(src=newsDetails.banner.src alt=newsDetails.banner.alt)/
    .news-details__content
      .news-details__content-text
        | !{newsDetails.content}
      .news-details__content-wr
        .news-details__content-top
          .news-details__content-wr__item
            p.news-details__content-wr__label Share
            .news-details__content-wr__value
              a.news-details__content-wr__value-link(href='#' )
                ='\n'
                i(class='sr-facebook')
              a.news-details__content-wr__value-link(href='#' )
                ='\n'
                i(class='sr-envelope-simple')
              a.news-details__content-wr__value-link(href='#' )
                ='\n'
                i(class='sr-instagram')
              a.news-details__content-wr__value-link(href='#' )
                ='\n'
                i(class='sr-x-logo')
              a.news-details__content-wr__value-link(href='#' )
                ='\n'
                i(class='sr-whatsapp')
          .news-details__content-wr__item
            .news-details__content-wr__info
              .news-details__content-wr__info-item
                p.news-details__content-wr__label Category
                .news-details__content-wr__value
                  ='\n'
                  img.news-details__content-wr__value-icon(src=newsDetails.category.icon.src alt=newsDetails.category.icon.alt)/
                  span.news-details__content-wr__value-text !{newsDetails.category.text}
              .news-details__content-wr__info-item
                p.news-details__content-wr__label Date
                .news-details__content-wr__value
                  ='\n'
                  img.news-details__content-wr__value-icon(src=newsDetails.date.icon.src alt=newsDetails.date.icon.alt)/
                  span.news-details__content-wr__value-text !{newsDetails.date.text}
        .news-details__content__latest
          h4.news-details__content__latest-label Latest News
          .news-details__content__latest-list
            each item in newsDetails.latest
              .news-details__content__latest-item
                ='\n'
                a.news-details__content__latest-link(href=item.link.to)
                ='\n'
                .news-details__content__latest-img
                  ='\n'
                  img.news-details__content__latest-img-el(src=item.img.src alt=item.img.alt)/
                .news-details__content__latest-text
                  .news-details__content__latest-tag
                    p.news-details__content__latest-tag-text !{item.label}
                    p.news-details__content__latest-tag-date !{item.date}
                  h6.news-details__content__latest-title !{item.title}
    .news-details__recomendation
      .news-details__recomendation-head
        h3.news-details__recomendation-title
          | !{newsDetails.recommendation.title}
        ='\n'
        a.btn.btn--primary.btn--icon(href=newsDetails.recommendation.btn.to)
          ='\n'
          span.btn__text
            | !{newsDetails.recommendation.btn.text}
            ='\n'
            i.sr.sr-caret-right
      .news-details__recomendation-list
        each item in newsDetails.recommendation.list
          include ../NewsItem/html.pug

  ='\n'
