//-------------------------------------------------------------------------------
  @name: Milestones Content
  -------------------------------------------------------------------------------//

// Milestones Content
.milestones-pc
  .container
    .milestones-pc__list
      each milestone in data.milestones
        .milestones-pc__item(class=!milestone.image ? 'milestones-pc__item--no-image' : '')
          .milestones-pc__year
            h1.milestones-pc__year-el
              | !{milestone.year}
          .milestones-pc__content
            .milestones-pc__content-text
              h3.milestones-pc__title
                | !{milestone.title}
              .milestones-pc__desc
                | !{milestone.desc}
            if milestone.image
              .milestones-pc__img
                ='\n'
                img.milestones-pc__img_el(src=milestone.image, alt=milestone.year)/
='\n'
