//-------------------------------------------------------------------------------
  @name: Aryasatya Resource
  -------------------------------------------------------------------------------//

//businesses-res
.businesses-res
  .container
    .businesses-res__head
      h2.businesses-res__title= data.title
      .businesses-res__desc!= data.desc
    .businesses-res__body
      each item in data.list
        .businesses-res-card
          .businesses-res-card__icon
            ='\n'
            img.businesses-res-card__icon__el(src=item.icon alt=item.label)/
          .businesses-res-card__img
            ='\n'
            img.businesses-res-card__img__el(src=item.img alt=item.label)/
          .businesses-res-card__text
            h3.businesses-res-card__label= item.label
            p.businesses-res-card__desc= item.desc

='\n'
