//-------------------------------------------------------------------------------
  @name: Aryasatya Impact
  -------------------------------------------------------------------------------//

//aryasatya-impact
.aryasatya-impact
  .container
    .aryasatya-impact__head
      h2.aryasatya-impact__title= data.title
      .aryasatya-impact__desc!= data.desc
    .aryasatya-impact__body
      each item in data.list
        .aryasatya-impact-card
          .aryasatya-impact-card__box
            .aryasatya-impact-card__img
              ='\n'
              img.aryasatya-impact-card__img__el(src=item.img alt=item.label)/
            .aryasatya-impact-card__text
              h3.aryasatya-impact-card__label= item.label
              p.aryasatya-impact-card__desc= item.desc

='\n'
