//-------------------------------------------------------------------------------
  @name: belida
  -------------------------------------------------------------------------------//

//belida
.belida-core
  .container
    .belida-core__head
      h2.belida-core__title= data.title
      p.belida-core__desc= data.description
    .belida-core__body
      each val in data.section
        .belida-core__section(class=val.reverse ? 'belida-core__section--reverse' : '')
          .belida-core__img
            ='\n'
            img.belida-core__img__el(src=val.img alt=val.title)/
          .belida-core__text
            h3.belida-core__section__title= val.title
            .belida-core__list
              each item in val.list
                .belida-core__item
                  if val.reverse
                    .belida-core__item__head
                      .belida-core__item__icon
                        img(src=item.img alt=item.title)/
                    .belida-core__item__body
                      h3.belida-core__item__title= item.title
                      p.belida-core__item__desc= item.desc
                  else
                    .belida-core__item__head
                      .belida-core__item__icon
                        img(src=item.img alt=item.title)/
                      h3.belida-core__item__title= item.title
                    .belida-core__item__body
                      p.belida-core__item__desc= item.desc

='\n'
