//-------------------------------------------------------------------------------
  @name: businesses-about
  -------------------------------------------------------------------------------//

//businesses-about
.businesses-about(class=`businesses-about--${page}`)
  .container
    .businesses-about__head
      h2.businesses-about__title= data.title
      .businesses-about__subtitle!= data.subtitle
    .businesses-about__body
      .businesses-about__wrapper
        .businesses-about__list
          each item in data.list
            .businesses-about__item
              .businesses-about__icon
                ='\n'
                img.businesses-about__icon__el(src=item.img alt=item.title)/
              .businesses-about__text
                h3.businesses-about__label= item.title
                p.businesses-about__desc= item.desc
        if data.desc
          .businesses-about__content!= data.desc
      .businesses-about__img
        ='\n'
        img.businesses-about__img__el(src=data.img alt=data.title)/

='\n'
