//-------------------------------------------------------------------------------
// @name: Career Corporate Section
//-------------------------------------------------------------------------------

.career-cp
  .container
    .career-cp__inner

      // LEFT
      .career-cp__left
        .career-cp__media
          ='\n'
          img.career-cp__media-el(src='assets/img/dummy/' + data.image, alt='career corporate image')

          // Overlay Card
          .career-cp__card
            h6.career-cp__card-label !{data.memberLabel}

            .career-cp__card-members
              each member in data.members
                ='\n'
                img.career-cp__card-avatar(
                  src='assets/img/dummy/' + member.img,
                  alt=member.alt || 'member image'
                )

              if data.memberCount
                ='\n'
                span.career-cp__card-count !{data.memberCount}


      // RIGHT
      .career-cp__right
        h6.career-cp__subtitle !{data.subtitle}
        h2.career-cp__title !{data.title}
        p.career-cp__desc !{data.desc}

        .career-cp__list
          each item in data.list
            .career-cp__item
              .career-cp__item-icon
                ='\n'
                img(
                  src=item.icon.src,
                  alt=item.icon.alt || 'icon'
                )

              .career-cp__item-content
                h6.career-cp__item-title !{item.title}
                p.career-cp__item-desc !{item.desc}

='\n'
