//-------------------------------------------------------------------------------
  @name: Aryasatya-ovw
  -------------------------------------------------------------------------------//

//aryasatya-ovw
.aryasatya-ovw(class=data.modifier ? `aryasatya-ovw--${data.modifier}` : `aryasatya-ovw--${page}`)
  .container
    .aryasatya-ovw__inner
      .aryasatya-ovw__text
        p.aryasatya-ovw__label= data.label
        h2.aryasatya-ovw__title= data.title
        .aryasatya-ovw__desc!= data.desc
      .aryasatya-ovw__content
        .aryasatya-ovw__list
          each item in data.list
            .aryasatya-ovw__item
              h3.aryasatya-ovw__number= item.number
              .aryasatya-ovw__info
                p.aryasatya-ovw__type= item.type
                p.aryasatya-ovw__detail= item.detail
        .aryasatya-ovw__img
          ='\n'
          img.aryasatya-ovw__img__el(src=data.img alt=data.title)/

='\n'
