//-------------------------------------------------------------------------------
  @name: businesses why
  -------------------------------------------------------------------------------//

//businesses-why
.businesses-why(class=`businesses-why--${page}`)
  .container
    .businesses-why__head
      h2.businesses-why__title= data.title
    .businesses-why__body
      each item in data.list
        .businesses-why__item
          .businesses-why__icon
            ='\n'
            img.businesses-why__icon__el(src=item.img alt=item.title)/
          .businesses-why__text
            h3.businesses-why__label= item.title
            p.businesses-why__desc= item.desc

='\n'
