//-------------------------------------------------------------------------------
  @name: News Section
  -------------------------------------------------------------------------------//

//- Mixin for news card
mixin newsCard(item)
  .news-card__image
    ='\n'
    img.news-card__image-el(
      src="assets/img/dummy/"+ item.img
      alt=item.title
    )/
  .news-card__content
    p.news-card__tag
      ='\n'
      span #{item.tag}
    .news-card__text
      h6.news-card__title
        | !{item.title}
      .news-card__meta
        p.news-card__meta-date
          | !{item.date}
        ='\n'
        a.news-card__meta-link(href=item.link)
          ='\n'
          span.news-card__meta-link-text Read More
          ='\n'
          i.sr.sr-caret-right
  ='\n'
  a.news-card__link(href=item.link)



//news-section
.news-section
  .container
    include ../../SectionHeader/html.pug
    .news-section__body
      .news-section__left
        each item in data.list
          if item.type === 'large'
            .news-card.news-card--large
              +newsCard(item)
        .news-section__bottom
          each item in data.list
            if item.type === 'small'
              .news-card.news-card--small
                +newsCard(item)
      .news-section__right
        each item in data.list
          if item.type === 'medium'
            .news-card.news-card--medium
              +newsCard(item)
