//-------------------------------------------------------------------------------
  @name: About Team
  -------------------------------------------------------------------------------//

//About Team
.about-team
  .container
    .about-team__inner
      .about-team__head
        h6.about-team__subtitle
          | !{data.subtitle}
        h2.about-team__title
          | !{data.title}
      .about-team__body
        each member in data.members
          .about-team__card
            .about-team__card__box
              .about-team__card-image
                ='\n'
                img.about-team__card-image-el(src='assets/img/dummy/'+member.image alt=member.name)/
              .about-team__card-content
                h6.about-team__card-name
                  | !{member.name}
                p.about-team__card-position
                  | !{member.position}
='\n'
