//-------------------------------------------------------------------------------
 @name: Awards Card
//-------------------------------------------------------------------------------

.awards-card.js-awards-card
  - imageData = data && data.image ? data.image : {};
  - imageSrc = imageData.src || '';
  - imageAlt = imageData.alt || 'Awards Image';
  .awards-card__box
    .awards-card__text
      h4.awards-card__year !{data.year}
      p.awards-card__title !{data.title}
    .awards-card__image
      ='\n'
      img.awards-card__image-el(src=imageSrc alt=imageAlt)/
    button.awards-card__trigger.js-awards-card-trigger(type='button' aria-label='View award detail')

  .awards-card__payload
    h4.js-awards-card-title !{data.title}
    .js-awards-card-desc !{data.desc}
    img.js-awards-card-image(src=imageSrc alt=imageAlt)/
