//-------------------------------------------------------------------------------
 @name: News Item
//-------------------------------------------------------------------------------

//news-item
.news-item
  .news-item__box
    ='\n'
    a.news-item__link(href=item.link.to)
    ='\n'
    .news-item__img
      ='\n'
      img.news-item__img-el(src=item.img.src alt=item.img.alt)/
    .news-item__content
      h6.news-item__title !{item.title}
      .news-item__tag
        .news-item__label
          p.news-item__label-text !{item.label}
          p.news-item__label-date !{item.date}
        .news-item__tag-link
          ='\n'
          a.news-item__tag-link-el(href=item.link.to)
            ='\n'
            span.news-item__tag-link-text
              | !{item.link.text}
            ='\n'
            i.sr.sr-caret-right
