//-------------------------------------------------------------------------------
 @name: Awards Banner
//-------------------------------------------------------------------------------

.awards-banner
  .container
    .awards-banner__inner
      .awards-banner__text
        h6.awards-banner__subtitle !{data.subtitle}
        h1.awards-banner__title !{data.title}
        p.awards-banner__desc--desktop !{data.desc}
      .awards-banner__image
        ='\n'
        img.awards-banner__image-el(src=data.image.src alt=data.image.alt)/
      p.awards-banner__desc--mobile !{data.desc}
